{% extends 'core/base.html' %}


{% block side %}
    <div id="sidebar"></div>
{% endblock %}

{% block content %}
    <div id="msg">
        {% if msg %}
        {{ msg }}
        {% endif %}
    </div>

    <div class="container container-fluid" id="itemdisplay">

        <div class="d-flex">
            <div class=""><h2 id="title" style="display:inline;"></h2></div>
            <div class=""><ul id="tags" style="display:inline;"></ul></div>
            <div class="ml-auto"><button id="del-button" type="button" class="btn btn-danger">Delete</button></div>
        </div>

                <!--

                    .table>tbody>tr>td,
                    .table>tbody>tr>th {
                      border-top: none;
                    }

                    .table-nonfluid {
                       width: auto !important;
                    }

                -->

        <table class="table table-sm" style="font-size: 10px;width: auto !important;">
            <tbody>
                <tr style="border-top: none;">
                    <td style="border-top: none;"><i>Created:</td><td style="border-top: none;" id="created"></td>
                </tr>
                <tr style="border-top: none;">
                    <td style="border-top: none;"><i>Last access:</td><td style="border-top: none;" id="last"></td>
                </tr>
                <tr style="border-top: none;">
                    <td style="border-top: none;"><i>Filename:</td><td style="border-top: none;" id="filename"></td>
                </tr>
            </tbody>
        </table>

        <div id="itemout"></div>
    </div>

{% endblock %}

{% block javascript %}

<script>
$(document).ready(function() {

    var current_item = null;
    var current_tag = null;

    $('#itemdisplay').hide();

    // get all the tags
    const tags = function() {
        var tmp = null;
        $.ajax({
            url: "{% url 'core:ztags' %}",
            dataType: 'json',
            async: false,
            success: function (data) {
                if (data.success) {
                    tmp = JSON.parse(data.tags);
                } else {
                    alert("Couldn't get tags\nMessage was: " + data.msg);
                }
            }
        });
        return tmp;
    }();

    function get_item(e) {
        // e is event of clicking on an item
        const itemid = e.target.id.split('-').slice(-1).pop();
        $.ajax({
            url: "{% url 'core:zitem' %}",
            data: {
                'id': itemid
            },
            dataType: 'json',
            success: function (data) {
                if (data.success) {
                    $("#title").html(data.title);
                    const tageles = JSON.parse(data.tags).map(
                        tid => [tid, tags[tid]]
                    ).sort(
                        (a, b) => a[1].localeCompare(b[1])
                    ).map(
                        idtag => $("<li style='display:inline;'><a href='#' class='taglink'>" + idtag[1] + "</a>&nbsp;</li>")
                    )

                    $("#tags").empty();

                    tageles.forEach(t => {
                        t.bind('click', e => get_items(e.target.text));
                        $("#tags").append(t);
                    });

                    $("#created").html(data.created);
                    $("#last").html(data.last);
                    $("#filename").html(data.filename);
                    $("#itemout").html(data.content);
                    $('#itemdisplay').show();
                    $('#msg').hide();
                    
                    current_item = itemid;

                } else {
                    alert("Couldn't get info for item " + e.target.id + "\nMessage was: " + data.msg);
                }
            }
        });
    }

    // Get the items for a tag
    function get_items(t) {
        $.ajax({
            url: "{% url 'core:zitems' %}",
            data: {
                'tag': t
            },
            dataType: 'json',
            success: function (data) {
                if (data.success) {
                    $("#sidebar").empty();
                    JSON.parse(data.items).forEach(idtitle => {
                        var anc = $("<a href='#' class='itemlink' id='item-" + idtitle[0] + "'>" + idtitle[1] + "</a>");
                        anc.bind('click', get_item);
                        $("#sidebar").append(anc);
                        $("#sidebar").append($("<br />"));
                        current_tag = t;
                    });
                } else {
                    alert("Couldn't get items for " + t + "\nMessage was: " + data.msg);
                }
            }
        });
    }
    $(".taglink").click(function (e) {
        get_items(e.target.text);
    });
    get_items('Recipes');


    $("#del-button").click(function () {
        if ( ! current_item ) { return }
        $.ajax({
            url: "{% url 'core:zitem_delete' %}",
            data: {
                'id': current_item
            },
            dataType: 'json',
            success: function (data) {
                if (data.success) {
                    $('#itemdisplay').hide();
                    get_items(current_tag);
                    current_item = null;
                } else {
                    alert("Couldn't delete " + current_item + "\nMessage was: " + data.msg);
                }
            }
        });
    });


});
</script>


      
{% endblock %}



