{% extends 'core/base.html' %}


{% block side %}
    <div id="sidebar-content"></div>
{% endblock %}

{% block content %}
    <div id="msg">
        {% if msg %} {{ msg }} {% endif %}
    </div>

    <div id="itemdisplay" class="container container-fluid">

        <button id="showside" type="button" class="btn btn-sm">
            ❮
        </button>

        <div class="d-flex">
            <div class=""><h2 id="title" style="display:inline;"></h2></div>
            <div class=""><ul id="tags" style="display:inline;"></ul></div>
            <div class="ml-auto"><button id="del-button" type="button" class="btn btn-danger">Delete</button></div>
        </div>

        <table class="table table-sm" style="font-size: 10px;width: auto !important;">
            <tbody>
                <tr style="border-top: none;">
                    <td style="border-top: none;"><i>Created:</td><td style="border-top: none;" id="created"></td>
                </tr>
                <tr style="border-top: none;">
                    <td style="border-top: none;"><i>Last access:</td><td style="border-top: none;" id="last"></td>
                </tr>
                <tr style="border-top: none;">
                    <td style="border-top: none;"><i>Filename:</td><td style="border-top: none;" id="filename"></td>
                </tr>
            </tbody>
        </table>

        <div id="itemout"></div>
    </div>

{% endblock %}

{% block javascript %}

<script>
$(document).ready(function() {


    var current_item = null;
    var current_tag = null;

    // If on big screen we need vh-100 so we get scrollbar in the
    // sidebar, but on small screens we don't want it otherwise the
    // navbar doesn't push content down properly.
    // This doesn't handle it when user resizing window.  They will
    // have to refresh.
    if ( window.matchMedia("screen and (min-width:768px)").matches ) {
        $('div.flex-column').addClass('vh-100');
    }

    // Start off with this hidden because messages maybe displayed in the main window
    // On first item display it will be show()ed.
    $('#itemdisplay').hide();

    // get all the tags
    const tags = function() {
        var tmp = null;
        $.ajax({
            url: "{% url 'core:tags' %}",
            dataType: 'json',
            async: false,
            success: function (data) {
                if (data.success) {
                    tmp = JSON.parse(data.tags);
                } else {
                    alert("Couldn't get tags\nMessage was: " + data.msg);
                }
            }
        });
        return tmp;
    }();

    // If on extra small show side (with col-12) and hide main
    function show_side_hide_main() {
        $('#sidebar').removeClass('d-none d-sm-block').addClass('d-block col-12');
        $('#main').removeClass('d-block col-12').addClass('d-none d-sm-block');
    }
    // If on extra small hide side and show main
    function hide_side_show_main() {
        $('#sidebar').removeClass('d-block col-12').addClass('d-none d-sm-block');
        $('#main').removeClass('d-none d-sm-block').addClass('d-block col-12');
    }
    $('#showside').click(show_side_hide_main);      // button to show the side

    
    // Display an item
    function display_item(e) {
        // e is event of clicking on an item
        const itemid = e.target.id
        $.ajax({
            url: "{% url 'core:item' %}",
            data: {
                'id': itemid
            },
            dataType: 'json',
            success: function (data) {
                if (data.success) {
                    $("#title").html(data.title);

                    $("#tags").empty();
                    JSON.parse(data.tags).sort().forEach(t => {
                        var ta = $("<li style='display:inline;'><a href='#' class='taglink'>" + t + "</a>&nbsp;</li>");
                        ta.bind('click', e => display_items(e.target.text));
                        $("#tags").append(ta);
                    });

                    $("#created").html(data.created);
                    $("#last").html(data.last);
                    $("#filename").html(data.filename);
                    $("#itemout").html(data.content);

                    $('#itemdisplay').show();
                    $('#msg').hide();
                    current_item = itemid;
                    hide_side_show_main();

                } else {
                    alert("Couldn't get info for item " + e.target.id + "\nMessage was: " + data.msg);
                }
            }
        });
    }
    $('.itemlink').click(display_item);

    // Display the items for tag text
    function display_items(t) {
        $.ajax({
            url: "{% url 'core:items' %}",
            data: {
                'tag': t
            },
            dataType: 'json',
            success: function (data) {
                if (data.success) {
                    $("#sidebar-content").empty();
                    JSON.parse(data.items).forEach(idtitle => {
                        var anc = $("<a href='#' class='itemlink' id='" + idtitle[0] + "'>" + idtitle[1] + "</a>");
                        anc.bind('click', display_item);
                        $("#sidebar-content").append(anc);
                        $("#sidebar-content").append($("<br />"));
                        current_tag = t;
                        show_side_hide_main();
                    });
                } else {
                    alert("Couldn't get items for " + t + "\nMessage was: " + data.msg);
                }
            }
        });
    }
    $(".taglink").click(function (e) {
        display_items(e.target.text);
    });
    display_items('Recipes');

    // Delete button
    $("#del-button").click(function () {
        if ( ! current_item ) { return }
        $.ajax({
            url: "{% url 'core:item_delete' %}",
            data: {
                'id': current_item
            },
            dataType: 'json',
            success: function (data) {
                if (data.success) {
                    $('#itemdisplay').hide();
                    display_items(current_tag);
                    current_item = null;
                } else {
                    alert("Couldn't delete " + current_item + "\nMessage was: " + data.msg);
                }
            }
        });
    });

    // Search button clicked when type Enter
    $("#search-lookfor").keypress(function (e) {
        if (e.which == 13) {
            $("#search-button").click();
            return false;
        }
    });
    $("#search-button").click(function () {
        const lookfor = $("#search-lookfor").val()
        if ( ! lookfor ) return;

        $.ajax({
            url: "{% url 'core:search' %}",
            data: {
                'tag': current_tag,
                'lookfor': lookfor
            },
            dataType: 'json',
            success: function (data) {
                if (data.success) {
                    $("#sidebar-content").empty();
                    JSON.parse(data.items).forEach(item => {
                        var anc = $("<a href='#' class='itemlink' id='" + item[0] + "'>" + item[1] + "</a>");
                        anc.bind('click', display_item);
                        $("#sidebar-content").append(anc);
                        $("#sidebar-content").append(item[2] ? ("<br />" + item[2] + "<br />") : "<br />");
                        show_side_hide_main();
                    });
                } else {
                    alert("Couldn't search for " + lookfor + "\nMessage was: " + data.msg);
                }
            }
        });
    });

});
</script>


      
{% endblock %}



